doctype html
html(lang='en')
    head
        link(rel='stylesheet', href='../assets/style.css')
        title CIS Amazon Web Service Foundations Report
    body
        div.green
            img.logo(src='../assets/td-logo.svg')
        br
        br
        br
        br
        br
        br
        br
        p.title CIS Amazon Web Service Foundations Audit
        br
        p.customer #{customer}
        br
        br
        p.subtitle Account Number #{json[0]["Account Number"]}
        p.subtitle Generated on #{moment().format('MM/DD/YYYY')}
        div.break-before
            h1 Overview
            br
            p
                | Test Double believes that security is a critical part of any mature software development lifecycle. Therefore, we have developed this report to assess the use of AWS Best Security Practices.
                | Drawing from the industry standard Center for Internet Security (CIS) Top 20 Critical Controls, the CIS Amazon Web Service Foundations Benchmark, which is the basis for this report,
                | seeks to establish baseline security controls for an AWS account. The benchmark offers two levels. Level 1 is meant to reflect practical security controls that all accounts should implement.
                | Level 2 reflects controls that should be implemented in accounts where security is a requirement. Additionally, each control is marked as either "Scored" or "Not Scored".
                | Scored controls should be considered essential to be in compliance with the level. Not Scored are additional best practices that should be strongly considered to further increase security.
            br
            h1 Liability Disclaimer
            br
            p
                | This report is provided on an "AS IS" basis.  It is provided without warranty of any kinds and disclaims all warranties whether express or implied. Test Double is not associated
                | with the Center for Internet Security.  This assessment is not certified by the Center for Internet Security.
        each c in json
            div.break-before
                h1 Control ID
                p= c["Control ID"]
                h1 Description
                p= c.Control
                h1 Level
                p= c.Level
                h1 Scored
                if c.Scored == "Scored"
                    p True
                else
                    p False
                h1 Results
                table.table
                    tr
                            th.align-left Status
                            th.align-left Message
                    each r in c.Results
                        if r.Status == "Pass"
                            tr
                                td.pass= r.Status
                                td.pass= r.Message
                        if r.Status == "Fail"
                            tr
                                td.fail= r.Status
                                td.fail= r.Message
                        if r.Status == "Info"
                            tr
                                td.info= r.Status
                                td.info= r.Message
        div.break-before
            h1 References
            p This report reflects best security practices as presented in the Center for Internet Security Top 20
            a(href='https://www.cisecurity.org/controls/cis-controls-list/') CIS Security Top 20
            p The AWS CIS Foundations Benchmark seeks to map the Top 20 controls to AWS Best Practices.
            a(href='https://d1.awsstatic.com/whitepapers/compliance/AWS_CIS_Foundations_Benchmark.pdf') AWS CIS Foundations Benchmark
            p This status of these controls was checked using an open source tool caller Prowler.
            a(href='https://github.com/toniblyx/prowler') Prowler